* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: forma-djr-display, sans-serif;
  overflow-x: hidden;
}

@keyframes pump {
  50% {
    transform: scale(1.1) rotate(10deg);
  }
}

.background {
  position: absolute;
  z-index: -1;
}

.background video {
  width: 100vw;
}

.main {
  height: 40vw;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.582);
}

.main__title {
  font-weight: bold;
  padding-top: 10%;
}

.main__subtitle {
  margin-top: 25px;
}

.main__button {
  margin-top: 35px;
  background: #7cb9e4;
  border: none;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.548);
  cursor: pointer;
  margin-bottom: 50px;
}

.main__button:hover {
  background: #0e509b;
  transition: background 0.5s;
}

.bar {
  background: white;
  color: #7cb9e4;
  text-align: center;
  transition: color 0.5s;
  padding: 50px 0;
}

.bar:hover {
  color: #0e509b;
}

.why {
  background: #414141;
  padding-bottom: 80px;
  font-weight: bold;
}

.why__title {
  color: white;
  text-align: center;
  padding: 40px 0;
}

.why__answers {
  display: flex;
  justify-content: space-around;
}

.answer {
  width: 25%;
  text-align: center;
}

.answer:not(:last-child) {
  border-right: 3px solid white;
}

.answer__icon img {
  width: auto;
  height: 100px;
  margin-bottom: 10px;
}

.answer__icon img:hover {
  animation-name: pump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.answer__text {
  color: white;
  display: flex;
  justify-content: center;
  text-align: left;
}

.offer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.offer a {
  text-decoration: none;
}

.offer__block {
  width: 50%;
  height: 30vw;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: border 0.5s;
}

.offer__block:nth-child(1) {
  background-image: url(../img/vacuum.jpg);
}

.offer__block:nth-child(2) {
  background-image: url(../img/vacuum2.jpg);
}

.offer__block:nth-child(3) {
  background-image: url(../img/room.png);
}

.offer__block:nth-child(4) {
  background-image: url(../img/car.png);
}

.offer__block:nth-child(5) {
  background-image: url(../img/floor.png);
}

.offer__block:last-child {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.offer__block:hover {
  border: 8px solid white;
}

/* Font sizes groups */
.navigation__top {
  font-size: 25px;
}

.main__title {
  font-size: 70px;
  letter-spacing: 3px;
}

.main__subtitle,
.main__button,
.why__answers {
  font-size: 25px;
}

.bar,
.why__title,
.office__header,
.offer__block {
  font-size: 40px;
}

@media (max-width: 1200px) {
  .main {
    height: 50vw;
  }
}

@media (max-width: 1000px) {
  .main {
    height: 50vw;
  }
}

@media (max-width: 860px) {
  .navigation__top {
    font-size: 20px;
  }
  .main__title {
    font-size: 40px;
    letter-spacing: 3px;
  }
  .main__subtitle,
  .main__button,
  .why__answers,
  .offer__block {
    font-size: 20px;
  }
  .answer__icon img {
    height: 80px;
    width: auto;
  }
  .bar,
  .why__title {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  .main__title {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .main__subtitle,
  .main__button,
  .why__answers,
  .offer__block {
    font-size: 18px;
  }
  .bar,
  .why__title {
    font-size: 25px;
  }
  .contact__form input::placeholder {
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .main {
    height: 60vw;
    background: #414141;
  }
  .why__answers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .answer {
    margin-top: 25px;
    width: 40%;
  }
  .answer__text {
    text-align: center;
  }
  .answer:not(:last-child) {
    border: none;
  }
}

@media (max-width: 500px) {
  .offer {
    display: block;
  }
  .offer__block {
    width: 100%;
  }
  .offer__block:last-child {
    width: 100%;
    height: 30vw;
  }
}

@media (max-width: 460px) {
  .main {
    height: 70vw;
  }
  .main__title {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .main__subtitle,
  .main__button,
  .why__answers,
  .offer__block {
    font-size: 16px;
  }
  .bar,
  .why__title {
    font-size: 22px;
  }
}

@media (max-width: 340px) {
  .main {
    height: 280px;
  }
}
