$primaryColor: #7cb9e4;
%mainPadding {
  padding-left: 120px;
  @media (max-width: 850px) {
    padding-left: 30px;
  }
}
%price {
  padding-left: 145px;
  font-size: 80px;
  @media (max-width: 850px) {
    padding-left: 50px;
    font-size: 50px;
  }
}
%fontSubtitle {
  font-size: 35px;
  @media (max-width: 850px) {
    font-size: 30px;
  }
}
%fontPara {
  font-size: 30px;
  @media (max-width: 850px) {
    font-size: 25px;
  }
}
%textPadding {
  padding-left: 60px;
  @media (max-width: 850px) {
    padding-left: 30px;
  }
}
.head {
  margin-top: 80px;
  @extend %price;
  font-weight: bold;
  letter-spacing: 2px;
}
.stripe {
  height: 70px;
  background: $primaryColor;
  margin-top: 80px;
}
.stripe--white {
  height: 80px;
}
.offer {
  @extend %mainPadding;
  margin-top: 80px;
  .offer__title {
    font-weight: bold;
    @extend %fontSubtitle;
  }
  .offer__block {
    display: flex;
   
    margin-top: 80px;
    .block__img {
      width: 200px;
      text-align: center;
      img {
        height: 150px;
      }
    }

    .block__text {
      padding-top: 28px;
      @extend %textPadding;

      .text__title {
        font-weight: bold;
        @extend %fontSubtitle;
      }
      p {
        margin-top: 28px;
        @extend %fontPara;
      }
    }
  }
}
.offer__footer {
  @extend %fontSubtitle;
  font-weight: bold;
  padding: 0;
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 600px) {
  .head {
    padding: 0;
    text-align: center;
  }
  .offer {
    padding: 0;
    .offer__title {
      text-align: center;
    }
    .offer__block {
      display: block;

      .block__img {
        margin: 0 auto;
        img {
          height: 120px;
        }
      }
      .block__text {
        text-align: center;
        padding: 0;
      }
    }
  }
}
