* {
  margin: 0;
  padding: 0;
}

body {
  font-family: forma-djr-display, sans-serif;
}

.navigation__top {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}

.navigation__top .top__links {
  margin-right: 15px;
}

.navigation__top .top__links a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

.navigation__top .top__links a:hover {
  color: #3787e2;
}

.navigation__top .fa {
  margin-right: 15px;
}

.navigation__top .top__number {
  background: #3787e2;
  padding: 10px;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
}

.navigation__top .top__number:hover {
  background: #0e509b;
}

.navigation__bottom {
  display: flex;
  box-shadow: 10px 10px 10px black;
  height: 80px;
  align-items: center;
}

.navigation__bottom .bottom__logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-weight: bold;
}

.navigation__bottom .bottom__logo img {
  margin-right: 10px;
}

.navigation__bottom .bottom__logo:hover {
  color: #3787e2;
}

.navigation__bottom .bottom__links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-weight: bold;
}

.navigation__bottom .bottom__links a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

.navigation__bottom .bottom__links a.active {
  color: #3787e2;
}

.navigation__bottom .bottom__links a:hover {
  color: #3787e2;
}


.footer {
  background: rgb(61, 61, 61);
  margin-top: 10px;
}

.footer__top {
  display: flex;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  padding: 10px;
  margin-left: 50px;
  width: 190px;
  height: 100px;

  font-weight: bold;
}

.footer__title {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: white;
  padding-top: 20px;
}

.footer__bottom {
  display: flex;
  margin-top: 55px;
  color: white;
}
.bottom__office {
  border-right: 3px solid rgb(255, 255, 255);
  width: 30%;
  padding-left: 50px;
}
.office__header {
  font-weight: bold;
}
.office__text {
  margin-top: 25px;
}
.bottom__hours {
  margin-left: 50px;
}

.hours__header {
  font-weight: bold;
}
.hours__text {
  margin-top: 25px;
}
.footer__signature {
  color: white;
  text-align: center;

  margin-top: 100px;
}